<h2 style = "color : Brown"> Operations on Pandas</h2>

This notebook will cover the following topics: 
* Filtering dataframes 
    * Single and multiple conditions
* Creating new columns
* Lambda functions 
* Group by and aggregate functions
* Pivot data
* Merging data frames
    * Joins and concatenations

<h4 style = "color : Sky blue"> Preparatory steps</h4>  

##### Background

An FMCG company P&J found that the sales of their best selling items are affected by the weather and rainfall trend. For example, the sale of tea increases when it rains, sunscreen is sold on the days when it is least likely to rain, and the sky is clear. They would like to check whether the weather patterns play a vital role in the sale of certain items. Hence as initial experimentation, they would like you to forecast the weather trend in the upcoming days. The target region for this activity is Australia; accordingly, this exercise will be based on analysing and cleaning the weather data from the Australian region available on public platforms.  

##### Read the data into a dataframe

In [8]:
import pandas as pd

In [9]:
data = pd.read_csv("weatherdata.csv", header =0)

##### Display the data

In [10]:
data.head(5)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0

##### Data Dictionary 

1. Date: The date on which the recording was taken
2. Location: The location of the recording
3. MinTemp: Minimum temperature on the day of the recording (in C)
4. MaxTemp: Maximum temperature in the day of the recording (in C)
5. Rainfall: Rainfall in mm
6. Evaporation: The so-called Class A pan evaporation (mm) in the 24 hours to 9am
7. Sunshine: The number of hours of bright sunshine in the day.
8. WindGustDir: The direction of the strongest wind gust in the 24 hours to midnight
9. WindGustSpeed: The speed (km/h) of the strongest wind gust in the 24 hours to midnight

<h4 style = "color : Sky blue"> Example 1.1: Filtering dataframes</h4>

Find the days which had sunshine for more that 4 hours. These days will have increased sales of sunscreen.

In [11]:
data.shape

(142193, 9)

In [12]:
data["Sunshine"]>4

0         False
1         False
2         False
3         False
4         False
          ...
142188    False
142189    False
142190    False
142191    False
142192    False
Name: Sunshine, Length: 142193, dtype: bool

In [13]:
data[data["Sunshine"]>4]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed
5939,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0
5940,2009-01-02,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0
5941,2009-01-03,Cobar,15.5,34.1,0.0,12.6,13.3,SE,30.0
5942,2009-01-04,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0
5943,2009-01-05,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0
...,...,...,...,...,...,...,...,...,...
139108,2017-06-20,Darwin,19.3,33.4,0.0,6.0,11.0,ENE,35.0
139109,2017-06-21,Darwin,21.2,32.6,0.0,7.6,8.6,E,37.0
139110,2017-06-22,Darwin,20.7,32.8,0.0,5.6,11.0,E,33.0
139111,2017-06-23,Darwin,19.5,31.8,0.0,6.2,10.6,ESE,26.0
139112,2017-06-24,Darwin,20.2,31.7,0.0,5.6,10.7,ENE,30.0

**Note:** High sunshine corresponds to low rainfall.

<h4 style = "color : Sky blue"> Example 1.2: Filtering dataframes</h4>

The cold drink sales will most likely increase on the days which have high sunshine(>5) and high max temperature(>35). Use the filter operation to filter out these days

In [14]:
data[(data["MaxTemp"]>35) & (data["Sunshine"]>5)]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed
5939,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0
5942,2009-01-04,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0
5943,2009-01-05,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0
5944,2009-01-06,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0
5948,2009-01-10,Cobar,19.0,35.5,0.0,12.0,12.3,ENE,48.0
...,...,...,...,...,...,...,...,...,...
138862,2016-10-17,Darwin,25.1,35.2,0.0,7.4,11.5,NNE,39.0
138879,2016-11-03,Darwin,24.4,35.5,0.0,7.8,9.9,NW,35.0
138892,2016-11-16,Darwin,25.7,35.2,0.0,5.4,11.3,NW,26.0
138905,2016-11-29,Darwin,25.8,35.1,0.8,4.8,6.4,SSE,46.0
138910,2016-12-04,Darwin,25.8,35.2,0.0,NaN,12.0,ESE,33.0

**Note:** The construction of the filter condition, it has individual filter conditions separated in parenthesis

<h4 style = "color : Sky blue"> Example 2.1: Creating new columns</h4>
    
If you noticed the filtering done in the earlier examples did not give precise information about the days, the data column simply has the dates. The date column can be split into the year, month and day of the month.

**Special module of pandas** The "DatetimeIndex" is a particular module which has the capabilities to extract a day, month and year form the date.

In [15]:
pd.DatetimeIndex(data["Date"])

DatetimeIndex(['2008-12-01', '2008-12-02', '2008-12-03', '2008-12-04',
               '2008-12-05', '2008-12-06', '2008-12-07', '2008-12-08',
               '2008-12-09', '2008-12-10',
               ...
               '2017-06-15', '2017-06-16', '2017-06-17', '2017-06-18',
               '2017-06-19', '2017-06-20', '2017-06-21', '2017-06-22',
               '2017-06-23', '2017-06-24'],
              dtype='datetime64[ns]', name='Date', length=142193, freq=None)

In [16]:
pd.DatetimeIndex(data["Date"]).year

Index([2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008,
       ...
       2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017],
      dtype='int32', name='Date', length=142193)

**Adding New columns** To add a new column in the dataframe just name the column and pass the instructions about the creation of the new column

In [17]:
data["Year"] = pd.DatetimeIndex(data["Date"]).year

In [18]:
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,2008
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,2008
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,2008
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,2008
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,2008

In [19]:
data["Month"] = pd.DatetimeIndex(data["Date"]).month

In [20]:
data["Dayofmonth"] = pd.DatetimeIndex(data["Date"]).day

In [21]:
data.head(20)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,Dayofmonth
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,2008,12,1
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,2008,12,2
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,2008,12,3
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,2008,12,4
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,2008,12,5
5,2008-12-06,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,2008,12,6
6,2008-12-07,Albury,14.3,25.0,0.0,NaN,NaN,W,50.0,2008,12,7
7,2008-12-08,Albury,7.7,26.7,0.0,NaN,NaN,W,35.0,2008,12,8
8,2008-12-09,Albury,9.7,31.9,0.0,NaN,NaN,NNW,80.0,2008,12,9
9,2008-12-10,Albury,13.1,30.1,1.4,NaN,NaN,W,28.0,2008,12,10
10,2008-12-11,Albury,13.4,30.4,0.0,NaN,NaN,N,30.0,2008,12,11
11,2008-12-12,Albury,15.9,21.7,2.2,NaN,NaN,NNE,31.0,2008,12,12
12,2008-12-13,Albury,15.9,18.6,15.6,NaN,NaN,W,61.0,2008,12,13
13,2008-12-14,Albury,12.6,21.0,3.6,NaN,NaN,SW,44.0,2008,12,14
14,2008-12-16,Albury,9.8,27.7,NaN,NaN,NaN,WNW,50.0,2008,12,16
15,2008-12-17,Albury,14.1,20.9,0.0,NaN,NaN,ENE,22.0,2008,12,17
16,2008-12-18,Albury,13.5,22.9,16.8,NaN,NaN,W,63.0,2008,12,18
17,2008-12-19,Albury,11.2,22.5,10.6,NaN,NaN,SSE,43.0,2008,12,19
18,2008-12-20,Albury,9.8,25.6,0.0,NaN,NaN,SSE,26.0,2008,12,20
19,2008-12-21,Albury,11.5,29.3,0.0,NaN,NaN,S,24.0,2008,12,21

<h4 style = "color : Sky blue"> Example 2.2: Creating new columns</h4>

The temperature given is in Celcius, convert it in Fahrenheit and store it in a new column for it.

In [22]:
data["Maxtemp_F"] = data["MaxTemp"] * 9/5 +32

In [23]:
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,Dayofmonth,Maxtemp_F
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,2008,12,1,73.22
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,2008,12,2,77.18
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,2008,12,3,78.26
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,2008,12,4,82.40
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,2008,12,5,90.14

<h4 style = "color : Sky blue"> Example 3.1: Lambda Functions</h4>

Let's create a new column which highlights the days which have rainfall more than 50 mm as rainy days and the rest are not.

In [24]:
data.Rainfall

0         0.6
1         0.0
2         0.0
3         0.0
4         1.0
         ...
142188    0.0
142189    0.0
142190    0.0
142191    0.0
142192    0.0
Name: Rainfall, Length: 142193, dtype: float64

In [25]:
data.Rainfall.apply(lambda x: "Rainy" if x > 50  else "Not rainy")

0         Not rainy
1         Not rainy
2         Not rainy
3         Not rainy
4         Not rainy
            ...
142188    Not rainy
142189    Not rainy
142190    Not rainy
142191    Not rainy
142192    Not rainy
Name: Rainfall, Length: 142193, dtype: object

**Note** 
1. New way of accessing a column in a dataframe by using the dot operator.
2. "apply" function takes in a lambda operator as argument.

In [26]:
type(data.Rainfall)

pandas.core.series.Series

In [27]:
type(data["Rainfall"])

pandas.core.series.Series

In [28]:
data["is_raining"] = data.Rainfall.apply(lambda x: "Rainy" if x > 50  else "Not rainy")

In [29]:
## Note that the above code is also another way to find this
## data["is_raining"] = data[Rainfall]apply(lambda x: "Rainy" if x > 50  else "Not rainy")

In [30]:
data[data["is_raining"] == "Rainy"]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,Dayofmonth,Maxtemp_F,is_raining
429,2010-02-05,Albury,19.2,26.1,52.2,NaN,NaN,SE,33.0,2010,2,5,78.98,Rainy
455,2010-03-08,Albury,18.1,25.5,66.0,NaN,NaN,NW,56.0,2010,3,8,77.90,Rainy
690,2010-10-31,Albury,13.8,18.7,50.8,NaN,NaN,NNW,52.0,2010,10,31,65.66,Rainy
704,2010-11-14,Albury,19.2,22.6,52.6,NaN,NaN,N,26.0,2010,11,14,72.68,Rainy
787,2011-02-05,Albury,20.4,23.0,99.2,NaN,NaN,NW,28.0,2011,2,5,73.40,Rainy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140532,2017-02-03,Katherine,23.4,33.0,62.0,NaN,NaN,NNW,33.0,2017,2,3,91.40,Rainy
140571,2017-03-14,Katherine,23.0,35.0,79.0,31.0,NaN,ESE,22.0,2017,3,14,95.00,Rainy
140578,2017-03-22,Katherine,24.1,34.5,61.4,NaN,NaN,N,31.0,2017,3,22,94.10,Rainy
142013,2016-12-26,Uluru,22.1,27.4,83.8,NaN,NaN,ENE,72.0,2016,12,26,81.32,Rainy
142014,2016-12-27,Uluru,22.1,35.8,63.8,NaN,NaN,WNW,43.0,2016,12,27,96.44,Rainy


<h4 style = "color : Sky blue"> Example 4.1: Grouping and Aggregate functions</h4>

Find the location which received the most amount of rain in the given data. In this place, certain promotional offers can be put in place to boost sales of tea, umbrella etc.

In [31]:
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,Dayofmonth,Maxtemp_F,is_raining
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,2008,12,1,73.22,Not rainy
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,2008,12,2,77.18,Not rainy
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,2008,12,3,78.26,Not rainy
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,2008,12,4,82.40,Not rainy
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,2008,12,5,90.14,Not rainy

In [32]:
data.tail()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,Dayofmonth,Maxtemp_F,is_raining
142188,2017-06-20,Uluru,3.5,21.8,0.0,NaN,NaN,E,31.0,2017,6,20,71.24,Not rainy
142189,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,2017,6,21,74.12,Not rainy
142190,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,2017,6,22,77.54,Not rainy
142191,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,2017,6,23,80.42,Not rainy
142192,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,2017,6,24,80.60,Not rainy

In [33]:
data_bylocation = data.groupby(by = ['Location']).mean()
data_bylocation.head()

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
data_bylocation.sort_values('Rainfall', ascending = False).head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,Year,Month,Dayofmonth,Maxtemp_F
Location,,,,,,,,,,
Cairns,21.199197,29.544344,5.765317,6.211976,7.575995,38.067991,2012.677376,6.363454,15.720214,85.179819
Darwin,23.210530,32.540977,5.094048,6.319089,8.499310,40.582355,2012.502820,6.534461,15.716792,90.573759
CoffsHarbour,14.365774,23.915575,5.054592,3.904267,7.362374,39.232197,2012.749746,6.392482,15.716898,75.048035
GoldCoast,17.341490,25.752971,3.728933,NaN,NaN,42.472539,2012.683221,6.435906,15.717114,78.355347
Wollongong,14.949058,21.476510,3.589127,NaN,NaN,45.695257,2012.743882,6.423734,15.694268,70.657718

<h4 style = "color : Sky blue"> Example 4.2: Grouping and Aggregate functions</h4>

Hot chocolate is the most sold product in the cold months. Find month which is the coldest so that the inventory team can keep the stock of hot chocolate ready well in advance.

In [ ]:
data_bymonth = data.groupby(by = ['Month']).mean()
data_bymonth

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,Year,Dayofmonth,Maxtemp_F,WCI
Month,,,,,,,,,,
1,17.520778,29.547362,2.719036,8.773171,9.208942,43.361730,2013.042721,15.986688,85.185252,504.169996
2,17.500239,28.877704,3.174075,7.651018,8.607494,41.457472,2013.054822,14.643515,83.979867,511.722359
3,15.904347,26.886744,2.801304,6.237989,7.646279,39.546399,2013.024778,15.995321,80.396138,570.372892
4,12.831979,23.611845,2.314764,4.547511,7.107208,36.460285,2013.279055,15.492659,74.501320,680.791840
5,9.618572,20.047202,1.978896,3.244134,6.337496,35.721056,2013.040214,15.991038,68.084964,787.434259
6,7.815031,17.324778,2.781114,2.518705,5.660379,35.506375,2012.975381,15.257648,63.184600,845.755217
7,6.951308,16.764242,2.179314,2.699269,6.069790,37.891458,2012.467867,16.001528,62.175636,863.519699
8,7.465145,18.258930,2.029610,3.616533,7.171661,40.245052,2012.473474,16.022275,64.866074,836.501471
9,9.460189,20.772510,1.875851,4.917265,7.698770,42.213311,2012.461084,15.518378,69.390517,762.816683
10,11.531145,23.540695,1.610734,6.379571,8.500080,42.716694,2012.462725,16.026771,74.373252,697.875616
11,14.299624,26.165571,2.273758,7.465236,8.685394,42.582385,2012.435041,15.498211,79.098028,612.435126
12,15.771514,27.526390,2.476483,8.046298,8.975372,43.004769,2012.286401,15.969103,81.547503,561.241935

In [ ]:
data_bymonth.sort_values('MinTemp')

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,Year,Dayofmonth,Maxtemp_F
Month,,,,,,,,,
7,6.951308,16.764242,2.179314,2.699269,6.069790,37.891458,2012.467867,16.001528,62.175636
8,7.465145,18.258930,2.029610,3.616533,7.171661,40.245052,2012.473474,16.022275,64.866074
6,7.815031,17.324778,2.781114,2.518705,5.660379,35.506375,2012.975381,15.257648,63.184600
9,9.460189,20.772510,1.875851,4.917265,7.698770,42.213311,2012.461084,15.518378,69.390517
5,9.618572,20.047202,1.978896,3.244134,6.337496,35.721056,2013.040214,15.991038,68.084964
10,11.531145,23.540695,1.610734,6.379571,8.500080,42.716694,2012.462725,16.026771,74.373252
4,12.831979,23.611845,2.314764,4.547511,7.107208,36.460285,2013.279055,15.492659,74.501320
11,14.299624,26.165571,2.273758,7.465236,8.685394,42.582385,2012.435041,15.498211,79.098028
12,15.771514,27.526390,2.476483,8.046298,8.975372,43.004769,2012.286401,15.969103,81.547503
3,15.904347,26.886744,2.801304,6.237989,7.646279,39.546399,2013.024778,15.995321,80.396138
2,17.500239,28.877704,3.174075,7.651018,8.607494,41.457472,2013.054822,14.643515,83.979867
1,17.520778,29.547362,2.719036,8.773171,9.208942,43.361730,2013.042721,15.986688,85.185252

<h4 style = "color : Sky blue"> Example 4.3: Grouping and Aggregate functions</h4>

Sometimes feeling cold is more than about low temperatures; a windy day can also make you cold. A factor called the chill factor can be used to quantify the cold based on the wind speed and the temperature. The formula for the chill factor is given by 


$ WCI = (10 * \sqrt{v} - v + 10.5) .(33 - T_{m}) $

v is the speed of the wind and $ T_{m} $ is the minimum temperature

Add a column for WCI and find the month with the lowest WCI.

In [ ]:
from math import sqrt
def wci(x):
    velocity = x['WindGustSpeed']
    minTemp = x['MinTemp']
    return ((10 * sqrt(velocity) - velocity + 10.5)*(33-minTemp))

In [ ]:
data['WCI'] = data.apply(wci,axis=1)

In [ ]:
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,Dayofmonth,Maxtemp_F,is_raining,WCI
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,2008,12,1,73.22,Not rainy,643.516918
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,2008,12,2,77.18,Not rainy,840.511893
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,2008,12,3,78.26,Not rainy,649.698327
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,2008,12,4,82.40,Not rainy,844.657118
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,2008,12,5,90.14,Not rainy,519.734257

In [ ]:
data_bymonth = data.groupby(by = ['Month']).mean()
data_bymonth

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,Year,Dayofmonth,Maxtemp_F,WCI
Month,,,,,,,,,,
1,17.520778,29.547362,2.719036,8.773171,9.208942,43.361730,2013.042721,15.986688,85.185252,504.169996
2,17.500239,28.877704,3.174075,7.651018,8.607494,41.457472,2013.054822,14.643515,83.979867,511.722359
3,15.904347,26.886744,2.801304,6.237989,7.646279,39.546399,2013.024778,15.995321,80.396138,570.372892
4,12.831979,23.611845,2.314764,4.547511,7.107208,36.460285,2013.279055,15.492659,74.501320,680.791840
5,9.618572,20.047202,1.978896,3.244134,6.337496,35.721056,2013.040214,15.991038,68.084964,787.434259
6,7.815031,17.324778,2.781114,2.518705,5.660379,35.506375,2012.975381,15.257648,63.184600,845.755217
7,6.951308,16.764242,2.179314,2.699269,6.069790,37.891458,2012.467867,16.001528,62.175636,863.519699
8,7.465145,18.258930,2.029610,3.616533,7.171661,40.245052,2012.473474,16.022275,64.866074,836.501471
9,9.460189,20.772510,1.875851,4.917265,7.698770,42.213311,2012.461084,15.518378,69.390517,762.816683
10,11.531145,23.540695,1.610734,6.379571,8.500080,42.716694,2012.462725,16.026771,74.373252,697.875616
11,14.299624,26.165571,2.273758,7.465236,8.685394,42.582385,2012.435041,15.498211,79.098028,612.435126
12,15.771514,27.526390,2.476483,8.046298,8.975372,43.004769,2012.286401,15.969103,81.547503,561.241935

In [ ]:
data_bymonth.sort_values('WCI', ascending = False)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,Year,Dayofmonth,Maxtemp_F,WCI
Month,,,,,,,,,,
7,6.951308,16.764242,2.179314,2.699269,6.069790,37.891458,2012.467867,16.001528,62.175636,863.519699
6,7.815031,17.324778,2.781114,2.518705,5.660379,35.506375,2012.975381,15.257648,63.184600,845.755217
8,7.465145,18.258930,2.029610,3.616533,7.171661,40.245052,2012.473474,16.022275,64.866074,836.501471
5,9.618572,20.047202,1.978896,3.244134,6.337496,35.721056,2013.040214,15.991038,68.084964,787.434259
9,9.460189,20.772510,1.875851,4.917265,7.698770,42.213311,2012.461084,15.518378,69.390517,762.816683
10,11.531145,23.540695,1.610734,6.379571,8.500080,42.716694,2012.462725,16.026771,74.373252,697.875616
4,12.831979,23.611845,2.314764,4.547511,7.107208,36.460285,2013.279055,15.492659,74.501320,680.791840
11,14.299624,26.165571,2.273758,7.465236,8.685394,42.582385,2012.435041,15.498211,79.098028,612.435126
3,15.904347,26.886744,2.801304,6.237989,7.646279,39.546399,2013.024778,15.995321,80.396138,570.372892
12,15.771514,27.526390,2.476483,8.046298,8.975372,43.004769,2012.286401,15.969103,81.547503,561.241935
2,17.500239,28.877704,3.174075,7.651018,8.607494,41.457472,2013.054822,14.643515,83.979867,511.722359
1,17.520778,29.547362,2.719036,8.773171,9.208942,43.361730,2013.042721,15.986688,85.185252,504.169996

In [ ]:
#The month with the lowest WCI
data_bymonth.sort_values('WCI')

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,Year,Dayofmonth,Maxtemp_F,WCI
Month,,,,,,,,,,
1,17.520778,29.547362,2.719036,8.773171,9.208942,43.361730,2013.042721,15.986688,85.185252,504.169996
2,17.500239,28.877704,3.174075,7.651018,8.607494,41.457472,2013.054822,14.643515,83.979867,511.722359
12,15.771514,27.526390,2.476483,8.046298,8.975372,43.004769,2012.286401,15.969103,81.547503,561.241935
3,15.904347,26.886744,2.801304,6.237989,7.646279,39.546399,2013.024778,15.995321,80.396138,570.372892
11,14.299624,26.165571,2.273758,7.465236,8.685394,42.582385,2012.435041,15.498211,79.098028,612.435126
4,12.831979,23.611845,2.314764,4.547511,7.107208,36.460285,2013.279055,15.492659,74.501320,680.791840
10,11.531145,23.540695,1.610734,6.379571,8.500080,42.716694,2012.462725,16.026771,74.373252,697.875616
9,9.460189,20.772510,1.875851,4.917265,7.698770,42.213311,2012.461084,15.518378,69.390517,762.816683
5,9.618572,20.047202,1.978896,3.244134,6.337496,35.721056,2013.040214,15.991038,68.084964,787.434259
8,7.465145,18.258930,2.029610,3.616533,7.171661,40.245052,2012.473474,16.022275,64.866074,836.501471
6,7.815031,17.324778,2.781114,2.518705,5.660379,35.506375,2012.975381,15.257648,63.184600,845.755217
7,6.951308,16.764242,2.179314,2.699269,6.069790,37.891458,2012.467867,16.001528,62.175636,863.519699

<h4 style = "color : Sky blue"> Example 5.1: Merging Dataframes</h4>

The join command is used to combine dataframes. Unlike hstack and vstack, the join command works by using a key to combine to dataframes. 

For example the total tea for the Newcastle store for the month of June 2011 is given in the file names ```junesales.csv``` Read in the data from the file and join it to the weather data exracted from the original dataframe.

In [41]:
sales = pd.read_csv("junesales.csv", header = 0)

In [42]:
sales["Dayofmonth"] = pd.DatetimeIndex(sales["Date"]).day
sales.head()

       Date  Tea_sales(in 100's)  Dayofmonth
0  6/1/2011                   26           1
1  6/2/2011                   35           2
2  6/3/2011                   37           3
3  6/4/2011                   33           4
4  6/5/2011                   25           5

In [43]:
# Filter the sales data for the relevant month and the appropriate location to a new dataframe. 

Newcastle_data = data[(data['Location']=='Newcastle') & (data['Year']==2011) & (data['Month']==6)]
Newcastle_data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,Dayofmonth,Maxtemp_F,is_raining
15605,2011-06-01,Newcastle,NaN,21.2,6.0,NaN,NaN,NaN,NaN,2011,6,1,70.16,Not rainy
15606,2011-06-02,Newcastle,NaN,20.2,4.0,NaN,NaN,NaN,NaN,2011,6,2,68.36,Not rainy
15607,2011-06-03,Newcastle,10.7,20.2,0.4,NaN,NaN,NaN,NaN,2011,6,3,68.36,Not rainy
15608,2011-06-04,Newcastle,9.4,20.4,0.0,NaN,NaN,NaN,NaN,2011,6,4,68.72,Not rainy
15609,2011-06-05,Newcastle,9.6,18.8,3.0,NaN,NaN,NaN,NaN,2011,6,5,65.84,Not rainy

In [44]:
merge_data = Newcastle_data.merge(sales, on = "Dayofmonth")
merge_data.head(30)

,Date_x,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,Dayofmonth,Maxtemp_F,is_raining,Date_y,Tea_sales(in 100's)
0,2011-06-01,Newcastle,NaN,21.2,6.0,NaN,NaN,NaN,NaN,2011,6,1,70.16,Not rainy,6/1/2011,26
1,2011-06-02,Newcastle,NaN,20.2,4.0,NaN,NaN,NaN,NaN,2011,6,2,68.36,Not rainy,6/2/2011,35
2,2011-06-03,Newcastle,10.7,20.2,0.4,NaN,NaN,NaN,NaN,2011,6,3,68.36,Not rainy,6/3/2011,37
3,2011-06-04,Newcastle,9.4,20.4,0.0,NaN,NaN,NaN,NaN,2011,6,4,68.72,Not rainy,6/4/2011,33
4,2011-06-05,Newcastle,9.6,18.8,3.0,NaN,NaN,NaN,NaN,2011,6,5,65.84,Not rainy,6/5/2011,25
5,2011-06-06,Newcastle,8.2,19.5,0.0,NaN,NaN,NaN,NaN,2011,6,6,67.10,Not rainy,6/6/2011,35
6,2011-06-07,Newcastle,5.6,16.7,0.0,NaN,NaN,NaN,NaN,2011,6,7,62.06,Not rainy,6/7/2011,43
7,2011-06-08,Newcastle,8.7,15.2,0.0,NaN,NaN,NaN,NaN,2011,6,8,59.36,Not rainy,6/8/2011,33
8,2011-06-09,Newcastle,5.5,15.6,0.0,NaN,NaN,NaN,NaN,2011,6,9,60.08,Not rainy,6/9/2011,28
9,2011-06-10,Newcastle,7.3,17.2,0.0,NaN,NaN,NaN,NaN,2011,6,10,62.96,Not rainy,6/10/2011,50
10,2011-06-11,Newcastle,10.1,17.0,4.0,NaN,NaN,NaN,NaN,2011,6,11,62.60,Not rainy,6/11/2011,35
11,2011-06-12,Newcastle,10.0,18.3,36.4,NaN,NaN,NaN,NaN,2011,6,12,64.94,Not rainy,6/12/2011,34
12,2011-06-13,Newcastle,NaN,18.5,35.6,NaN,NaN,NaN,NaN,2011,6,13,65.30,Not rainy,6/13/2011,37
13,2011-06-14,Newcastle,NaN,18.7,26.5,NaN,NaN,NaN,NaN,2011,6,14,65.66,Not rainy,6/14/2011,25
14,2011-06-15,Newcastle,NaN,18.5,12.4,NaN,NaN,NaN,NaN,2011,6,15,65.30,Not rainy,6/15/2011,28
15,2011-06-16,Newcastle,NaN,18.6,21.8,NaN,NaN,NaN,NaN,2011,6,16,65.48,Not rainy,6/16/2011,39
16,2011-06-17,Newcastle,8.4,18.5,0.4,NaN,NaN,NaN,NaN,2011,6,17,65.30,Not rainy,6/17/2011,29
17,2011-06-18,Newcastle,6.7,17.7,0.0,NaN,NaN,NaN,NaN,2011,6,18,63.86,Not rainy,6/18/2011,20
18,2011-06-19,Newcastle,6.5,18.1,0.0,NaN,NaN,NaN,NaN,2011,6,19,64.58,Not rainy,6/19/2011,45
19,2011-06-20,Newcastle,6.9,18.8,0.0,NaN,NaN,NaN,NaN,2011,6,20,65.84,Not rainy,6/20/2011,39
20,2011-06-21,Newcastle,6.2,19.9,0.0,NaN,NaN,NaN,NaN,2011,6,21,67.82,Not rainy,6/21/2011,48
21,2011-06-22,Newcastle,6.8,15.7,0.8,NaN,NaN,NaN,NaN,2011,6,22,60.26,Not rainy,6/22/2011,23
22,2011-06-23,Newcastle,7.5,18.2,0.0,NaN,NaN,NaN,NaN,2011,6,23,64.76,Not rainy,6/23/2011,39
23,2011-06-24,Newcastle,5.6,18.2,0.0,NaN,NaN,NaN,NaN,2011,6,24,64.76,Not rainy,6/24/2011,35
24,2011-06-25,Newcastle,4.9,18.8,0.0,NaN,NaN,NaN,NaN,2011,6,25,65.84,Not rainy,6/25/2011,28
25,2011-06-26,Newcastle,6.0,20.0,0.0,NaN,NaN,NaN,NaN,2011,6,26,68.00,Not rainy,6/26/2011,42
26,2011-06-27,Newcastle,6.3,20.0,0.0,NaN,NaN,NaN,NaN,2011,6,27,68.00,Not rainy,6/27/2011,24
27,2011-06-28,Newcastle,10.0,18.0,0.4,NaN,NaN,NaN,NaN,2011,6,28,64.40,Not rainy,6/28/2011,46
28,2011-06-29,Newcastle,12.4,19.6,0.0,NaN,NaN,NaN,NaN,2011,6,29,67.28,Not rainy,6/29/2011,48
29,2011-06-30,Newcastle,13.4,17.2,0.6,NaN,NaN,NaN,NaN,2011,6,30,62.96,Not rainy,6/30/2011,40

In [45]:
sales

         Date  Tea_sales(in 100's)  Dayofmonth
0    6/1/2011                   26           1
1    6/2/2011                   35           2
2    6/3/2011                   37           3
3    6/4/2011                   33           4
4    6/5/2011                   25           5
5    6/6/2011                   35           6
6    6/7/2011                   43           7
7    6/8/2011                   33           8
8    6/9/2011                   28           9
9   6/10/2011                   50          10
10  6/11/2011                   35          11
11  6/12/2011                   34          12
12  6/13/2011                   37          13
13  6/14/2011                   25          14
14  6/15/2011                   28          15
15  6/16/2011                   39          16
16  6/17/2011                   29          17
17  6/18/2011                   20          18
18  6/19/2011                   45          19
19  6/20/2011                   39          20
20  6/21/2011                   48          21
21  6/22/2011                   23          22
22  6/23/2011                   39          23
23  6/24/2011                   35          24
24  6/25/2011                   28          25
25  6/26/2011                   42          26
26  6/27/2011                   24          27
27  6/28/2011                   46          28
28  6/29/2011                   48          29
29  6/30/2011                   40          30

<h4 style = "color : Sky blue"> Example 5.2: Merging Dataframes</h4>

##### Types of joins. 

* INNER JOIN
![](1.png)

* LEFT JOIN
![](2.png)

* RIGHT JOIN
![](5.png)

* FULL JOIN
![](4.png)


Each state may have different tax laws, so we might want to add the states information to the data as well.

The file ```locationsandstates.csv``` information about the states and location, the data in this file is **not** same as the weather data. It is possible that few locations in "data" (original dataframe) are not in this file, and all the locations in the file might not be in the original dataframe. 

In the original dataframe add the state data.

In [ ]:
state = pd.read_csv("locationsandstates.csv", header = 0)
state

          Location               State
0           Sydney    New South Wales
1           Albury    New South Wales
2         Armidale    New South Wales
3         Bathurst    New South Wales
4   Blue Mountains    New South Wales
5      Broken Hill    New South Wales
6     Campbelltown    New South Wales
7         Cessnock    New South Wales
8            Dubbo    New South Wales
9         Goulburn    New South Wales
10         Grafton    New South Wales
11         Lithgow    New South Wales
12       Liverpool    New South Wales
13       Newcastle    New South Wales
14          Orange    New South Wales
15      Parramatta    New South Wales
16         Penrith    New South Wales
17      Queanbeyan    New South Wales
18        Tamworth    New South Wales
19      WaggaWagga    New South Wales
20      Wollongong    New South Wales
21          Darwin  Northern Territory
22      Palmerston  Northern Territory
23        Brisbane          Queensland
24       Bundaberg          Queensland
25      Caboolture          Queensland
26          Cairns          Queensland
27       Caloundra          Queensland
28       Gladstone          Queensland
29      Gold Coast          Queensland
..             ...                 ...
46          Ararat            Victoria
47      Bairnsdale            Victoria
48         Benalla            Victoria
49        Ballarat            Victoria
50         Bendigo            Victoria
51       Dandenong            Victoria
52       Frankston            Victoria
53         Geelong            Victoria
54        Hamilton            Victoria
55         Horsham            Victoria
56    Latrobe City            Victoria
57          Melton            Victoria
58         Mildura            Victoria
59            Sale            Victoria
60      Shepparton            Victoria
61       Swan Hill            Victoria
62      Wangaratta            Victoria
63     Warrnambool            Victoria
64         Wodonga            Victoria
65           Perth   Western Australia
66          Albany   Western Australia
67         Bunbury   Western Australia
68       Busselton   Western Australia
69       Fremantle   Western Australia
70       Geraldton   Western Australia
71       Joondalup   Western Australia
72      Kalgoorlie   Western Australia
73        Karratha   Western Australia
74        Mandurah   Western Australia
75      Rockingham   Western Australia

[76 rows x 2 columns]

In [ ]:
state_data = data.merge(state, on = "Location", how = "left")
state_data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,Dayofmonth,Maxtemp_F,is_raining,WCI,State
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,2008,12,1,73.22,Not rainy,643.516918,New South Wales
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,2008,12,2,77.18,Not rainy,840.511893,New South Wales
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,2008,12,3,78.26,Not rainy,649.698327,New South Wales
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,2008,12,4,82.40,Not rainy,844.657118,New South Wales
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,2008,12,5,90.14,Not rainy,519.734257,New South Wales
5,2008-12-06,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,2008,12,6,85.46,Not rainy,539.729918,New South Wales
6,2008-12-07,Albury,14.3,25.0,0.0,NaN,NaN,W,50.0,2008,12,7,77.00,Not rainy,583.639681,New South Wales
7,2008-12-08,Albury,7.7,26.7,0.0,NaN,NaN,W,35.0,2008,12,8,80.06,Not rainy,876.918185,New South Wales
8,2008-12-09,Albury,9.7,31.9,0.0,NaN,NaN,NNW,80.0,2008,12,9,89.42,Not rainy,464.665355,New South Wales
9,2008-12-10,Albury,13.1,30.1,1.4,NaN,NaN,W,28.0,2008,12,10,86.18,Not rainy,704.759022,New South Wales
10,2008-12-11,Albury,13.4,30.4,0.0,NaN,NaN,N,30.0,2008,12,11,86.72,Not rainy,691.336213,New South Wales
11,2008-12-12,Albury,15.9,21.7,2.2,NaN,NaN,NNE,31.0,2008,12,12,71.06,Not rainy,601.537706,New South Wales
12,2008-12-13,Albury,15.9,18.6,15.6,NaN,NaN,W,61.0,2008,12,13,65.48,Not rainy,472.002695,New South Wales
13,2008-12-14,Albury,12.6,21.0,3.6,NaN,NaN,SW,44.0,2008,12,14,69.80,Not rainy,669.782914,New South Wales
14,2008-12-16,Albury,9.8,27.7,NaN,NaN,NaN,WNW,50.0,2008,12,16,81.86,Not rainy,724.087732,New South Wales
15,2008-12-17,Albury,14.1,20.9,0.0,NaN,NaN,ENE,22.0,2008,12,17,69.62,Not rainy,669.138579,New South Wales
16,2008-12-18,Albury,13.5,22.9,16.8,NaN,NaN,W,63.0,2008,12,18,73.22,Not rainy,524.014517,New South Wales
17,2008-12-19,Albury,11.2,22.5,10.6,NaN,NaN,SSE,43.0,2008,12,19,72.50,Not rainy,721.021598,New South Wales
18,2008-12-20,Albury,9.8,25.6,0.0,NaN,NaN,SSE,26.0,2008,12,20,78.08,Not rainy,823.372527,New South Wales
19,2008-12-21,Albury,11.5,29.3,0.0,NaN,NaN,S,24.0,2008,12,21,84.74,Not rainy,763.030589,New South Wales
20,2008-12-22,Albury,17.1,33.0,0.0,NaN,NaN,NE,43.0,2008,12,22,91.40,Not rainy,525.882725,New South Wales
21,2008-12-23,Albury,20.5,31.8,0.0,NaN,NaN,WNW,41.0,2008,12,23,89.24,Not rainy,419.140530,New South Wales
22,2008-12-24,Albury,15.3,30.9,0.0,NaN,NaN,N,33.0,2008,12,24,87.62,Not rainy,618.537588,New South Wales
23,2008-12-25,Albury,12.6,32.4,0.0,NaN,NaN,W,43.0,2008,12,25,90.32,Not rainy,674.717459,New South Wales
24,2008-12-26,Albury,16.2,33.9,0.0,NaN,NaN,WSW,35.0,2008,12,26,93.02,Not rainy,582.301404,New South Wales
25,2008-12-27,Albury,16.9,33.0,0.0,NaN,NaN,WSW,57.0,2008,12,27,91.40,Not rainy,466.873344,New South Wales
26,2008-12-28,Albury,20.1,32.7,0.0,NaN,NaN,WNW,48.0,2008,12,28,90.86,Not rainy,409.988217,New South Wales
27,2008-12-29,Albury,19.7,27.2,0.0,NaN,NaN,WNW,46.0,2008,12,29,80.96,Not rainy,429.899888,New South Wales
28,2008-12-30,Albury,12.5,24.2,1.2,NaN,NaN,WNW,50.0,2008,12,30,75.56,Not rainy,639.818901,New South Wales
29,2008-12-31,Albury,12.0,24.4,0.8,NaN,NaN,W,39.0,2008,12,31,75.92,Not rainy,712.949580,New South Wales
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142163,2017-05-26,Uluru,14.3,27.6,0.4,NaN,NaN,WNW,39.0,2017,5,26,81.68,Not rainy,634.864626,NaN
142164,2017-05-27,Uluru,9.3,28.0,0.0,NaN,NaN,W,28.0,2017,5,27,82.40,Not rainy,839.336121,NaN
142165,2017-05-28,Uluru,8.0,24.6,0.0,NaN,NaN,E,33.0,2017,5,28,76.28,Not rainy,873.640662,NaN
142166,2017-05-29,Uluru,12.7,22.2,0.0,NaN,NaN,E,37.0,2017,5,29,71.96,Not rainy,696.850794,NaN
142167,2017-05-30,Uluru,9.4,22.7,0.0,NaN,NaN,E,35.0,2017,5,30,72.86,Not rainy,817.994829,NaN
142168,2017-05-31,Uluru,5.4,20.5,0.0,NaN,NaN,E,46.0,2017,5,31,68.90,Not rainy,892.123075,NaN
142169,2017-06-01,Uluru,5.6,19.4,0.0,NaN,NaN,E,43.0,2017,6,1,66.92,Not rainy,906.238156,NaN
142170,2017-06-02,Uluru,1.5,19.2,0.0,NaN,NaN,E,37.0,2017,6,2,66.56,Not rainy,1081.320197,NaN
142171,2017-06-03,Uluru,3.8,19.8,0.0,NaN,NaN,ENE,39.0,2017,6,3,67.64,Not rainy,991.339416,NaN
142172,2017-06-04,Uluru,4.5,18.8,0.0,NaN,NaN,E,31.0,2017,6,4,65.84,Not rainy,1002.562843,NaN
142173,2017-06-05,Uluru,4.9,20.7,0.0,NaN,NaN,E,37.0,2017,6,5,69.26,Not rainy,964.606271,NaN
142174,2017-06-06,Uluru,1.2,20.8,0.0,NaN,NaN,E,43.0,2017,6,6,69.44,Not rainy,1051.765451,NaN
142175,2017-06-07,Uluru,0.5,21.7,0.0,NaN,NaN,E,43.0,2017,6,7,71.06,Not rainy,1074.917520,NaN
142176,2017-06-08,Uluru,4.0,20.0,0.0,NaN,NaN,SE,39.0,2017,6,8,68.00,Not rainy,984.549420,NaN
142177,2017-06-09,Uluru,3.4,19.8,0.0,NaN,NaN,E,43.0,2017,6,9,67.64,Not rainy,979.001803,NaN
142178,2017-06-10,Uluru,3.2,18.6,0.0,NaN,NaN,E,46.0,2017,6,10,65.48,Not rainy,963.234335,NaN
142179,2017-06-11,Uluru,2.4,19.1,0.0,NaN,NaN,E,33.0,2017,6,11,66.38,Not rainy,1069.336170,NaN
142180,2017-06-12,Uluru,5.1,19.7,0.0,NaN,NaN,E,46.0,2017,6,12,67.46,Not rainy,901.820065,NaN
142181,2017-06-13,Uluru,2.5,21.2,0.0,NaN,NaN,ENE,35.0,2017,6,13,70.16,Not rainy,1057.154334,NaN
142182,2017-06-14,Uluru,2.3,21.4,0.0,NaN,NaN,SE,22.0,2017,6,14,70.52,Not rainy,1086.907638,NaN
142183,2017-06-15,Uluru,2.6,22.5,0.0,NaN,NaN,S,19.0,2017,6,15,72.50,Not rainy,1066.705279,NaN
142184,2017-06-16,Uluru,5.2,24.3,0.0,NaN,NaN,E,24.0,2017,6,16,75.74,Not rainy,986.616297,NaN
142185,2017-06-17,Uluru,6.4,23.4,0.0,NaN,NaN,ESE,31.0,2017,6,17,74.12,Not rainy,935.725321,NaN
142186,2017-06-18,Uluru,8.0,20.7,0.0,NaN,NaN,ESE,41.0,2017,6,18,69.26,Not rainy,838.281059,NaN
142187,2017-06-19,Uluru,7.4,20.6,0.0,NaN,NaN,E,35.0,2017,6,19,69.08,Not rainy,887.316424,NaN
142188,2017-06-20,Uluru,3.5,21.8,0.0,NaN,NaN,E,31.0,2017,6,20,71.24,Not rainy,1037.740487,NaN
142189,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,2017,6,21,74.12,Not rainy,1062.364838,NaN
142190,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,2017,6,22,77.54,Not rainy,1040.882233,NaN
142191,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,2017,6,23,80.42,Not rainy,947.442458,NaN
142192,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,2017,6,24,80.60,Not rainy,892.458661,NaN

<h4 style = "color : Sky blue"> Example 6.1: pivot tables</h4>

Using pivot tables find the average monthly rainfall in the year 2016 of all the locations. The information can then be used to predict the sales of tea in the year 2017.

In [ ]:
data_2016 = data[data["Year"] ==2016]
data_2016

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,Dayofmonth,Maxtemp_F,is_raining,WCI
2474,2016-01-01,Albury,20.4,37.6,0.0,NaN,NaN,ENE,54.0,2016,1,1,99.68,Not rainy,377.807123
2475,2016-01-02,Albury,20.9,33.6,0.4,NaN,NaN,SSE,50.0,2016,1,2,92.48,Not rainy,377.649205
2476,2016-01-03,Albury,18.4,23.1,2.2,NaN,NaN,ENE,48.0,2016,1,3,73.58,Not rainy,464.017672
2477,2016-01-04,Albury,17.3,23.7,15.6,NaN,NaN,SSE,39.0,2016,1,4,74.66,Not rainy,533.014686
2478,2016-01-05,Albury,15.5,22.9,6.8,NaN,NaN,ENE,31.0,2016,1,5,73.22,Not rainy,615.608763
2479,2016-01-06,Albury,17.0,28.1,0.2,NaN,NaN,SE,39.0,2016,1,6,82.58,Not rainy,543.199680
2480,2016-01-07,Albury,16.4,28.0,0.0,NaN,NaN,SE,35.0,2016,1,7,82.40,Not rainy,575.369244
2481,2016-01-08,Albury,14.3,31.7,0.0,NaN,NaN,NNW,24.0,2016,1,8,89.06,Not rainy,663.659164
2482,2016-01-09,Albury,16.7,35.0,0.0,NaN,NaN,WNW,28.0,2016,1,9,95.00,Not rainy,577.264927
2483,2016-01-10,Albury,17.8,37.0,0.0,NaN,NaN,SSW,41.0,2016,1,10,98.60,Not rainy,509.674884
2484,2016-01-11,Albury,17.7,39.2,0.0,NaN,NaN,WNW,56.0,2016,1,11,102.56,Not rainy,448.797160
2485,2016-01-12,Albury,20.6,38.9,0.0,NaN,NaN,WSW,56.0,2016,1,12,102.02,Not rainy,363.731032
2486,2016-01-13,Albury,20.2,43.0,0.0,NaN,NaN,WNW,72.0,2016,1,13,109.40,Not rainy,298.916016
2487,2016-01-14,Albury,26.8,30.2,0.0,NaN,NaN,WNW,50.0,2016,1,14,86.36,Not rainy,193.506204
2488,2016-01-15,Albury,10.4,25.2,0.0,NaN,NaN,SE,46.0,2016,1,15,77.36,Not rainy,730.506576
2489,2016-01-16,Albury,10.7,29.4,0.0,NaN,NaN,N,35.0,2016,1,16,84.92,Not rainy,772.935792
2490,2016-01-17,Albury,14.5,30.6,0.0,NaN,NaN,NE,24.0,2016,1,17,87.08,Not rainy,656.561205
2491,2016-01-18,Albury,14.4,33.5,0.0,NaN,NaN,E,28.0,2016,1,18,92.30,Not rainy,658.719488
2492,2016-01-19,Albury,16.1,40.0,0.0,NaN,NaN,NW,50.0,2016,1,19,104.00,Not rainy,527.460460
2493,2016-01-20,Albury,23.4,33.9,0.0,NaN,NaN,NE,39.0,2016,1,20,93.02,Not rainy,325.919808
2494,2016-01-21,Albury,20.4,38.0,0.0,NaN,NaN,WNW,56.0,2016,1,21,100.40,Not rainy,369.597661
2495,2016-01-22,Albury,22.8,28.1,0.0,NaN,NaN,NNW,39.0,2016,1,22,82.58,Not rainy,346.289796
2496,2016-01-23,Albury,17.0,31.3,12.6,NaN,NaN,W,41.0,2016,1,23,88.34,Not rainy,536.499878
2497,2016-01-24,Albury,16.6,33.2,0.0,NaN,NaN,SW,30.0,2016,1,24,91.76,Not rainy,578.464994
2498,2016-01-25,Albury,18.1,32.8,0.0,NaN,NaN,SE,39.0,2016,1,25,91.04,Not rainy,505.854702
2499,2016-01-26,Albury,18.7,34.2,0.0,NaN,NaN,SE,31.0,2016,1,26,93.56,Not rainy,503.040304
2500,2016-01-27,Albury,18.5,25.7,19.4,NaN,NaN,W,37.0,2016,1,27,78.26,Not rainy,497.750567
2501,2016-01-28,Albury,17.7,31.7,4.2,NaN,NaN,WNW,35.0,2016,1,28,89.06,Not rainy,530.310207
2502,2016-01-29,Albury,17.1,24.2,0.0,NaN,NaN,W,48.0,2016,1,29,75.56,Not rainy,505.334314
2503,2016-01-30,Albury,10.0,28.1,0.0,NaN,NaN,W,52.0,2016,1,30,82.58,Not rainy,704.053587
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141989,2016-12-02,Uluru,27.7,40.6,0.0,NaN,NaN,N,54.0,2016,12,2,105.08,Not rainy,158.918869
141990,2016-12-03,Uluru,23.6,31.9,0.4,NaN,NaN,N,48.0,2016,12,3,89.42,Not rainy,298.751104
141991,2016-12-04,Uluru,21.9,39.2,0.2,NaN,NaN,WSW,69.0,2016,12,4,102.56,Not rainy,272.685249
141992,2016-12-05,Uluru,20.4,32.5,16.4,NaN,NaN,SSW,69.0,2016,12,5,90.50,Not rainy,309.534607
141993,2016-12-06,Uluru,19.0,23.3,4.4,NaN,NaN,NE,28.0,2016,12,6,73.94,Not rainy,495.810367
141994,2016-12-07,Uluru,19.4,33.3,6.0,NaN,NaN,NE,37.0,2016,12,7,91.94,Not rainy,466.855704
141995,2016-12-08,Uluru,22.1,33.1,0.0,NaN,NaN,S,41.0,2016,12,8,91.58,Not rainy,365.490542
141996,2016-12-09,Uluru,16.6,31.5,0.0,NaN,NaN,ESE,44.0,2016,12,9,88.70,Not rainy,538.452931
141997,2016-12-10,Uluru,17.3,32.9,0.0,NaN,NaN,E,48.0,2016,12,10,91.22,Not rainy,498.977907
141998,2016-12-11,Uluru,16.3,34.4,0.0,NaN,NaN,E,48.0,2016,12,11,93.92,Not rainy,530.759939
141999,2016-12-12,Uluru,14.7,37.6,0.0,NaN,NaN,ENE,43.0,2016,12,12,99.68,Not rainy,605.261250
142000,2016-12-13,Uluru,16.7,41.7,0.0,NaN,NaN,SW,61.0,2016,12,13,107.06,Not rainy,449.920697
142001,2016-12-14,Uluru,24.2,35.2,0.0,NaN,NaN,NW,57.0,2016,12,14,95.36,Not rainy,255.185430
142002,2016-12-15,Uluru,18.6,31.5,6.8,NaN,NaN,S,43.0,2016,12,15,88.70,Not rainy,476.271147
142003,2016-12-16,Uluru,18.6,36.6,0.0,NaN,NaN,SSE,41.0,2016,12,16,97.88,Not rainy,482.849890
142004,2016-12-17,Uluru,22.8,37.5,0.0,NaN,NaN,E,52.0,2016,12,17,99.50,Not rainy,312.232460
142005,2016-12-18,Uluru,26.2,38.6,0.0,NaN,NaN,W,57.0,2016,12,18,101.48,Not rainy,197.188742
142006,2016-12-19,Uluru,22.1,39.5,2.0,NaN,NaN,NE,54.0,2016,12,19,103.10,Not rainy,326.833146
142007,2016-12-20,Uluru,23.4,37.4,0.0,NaN,NaN,S,59.0,2016,12,20,99.32,Not rainy,271.789992
142008,2016-12-21,Uluru,26.1,38.2,0.0,NaN,NaN,E,50.0,2016,12,21,100.76,Not rainy,215.353679
142009,2016-12-22,Uluru,25.3,37.4,0.0,NaN,NaN,NE,46.0,2016,12,22,99.32,Not rainy,248.889409
142010,2016-12-23,Uluru,24.8,32.6,0.0,NaN,NaN,NNW,44.0,2016,12,23,90.68,Not rainy,269.226466
142011,2016-12-24,Uluru,22.9,29.9,21.8,NaN,NaN,N,35.0,2016,12,24,85.82,Not rainy,350.074058
142012,2016-12-25,Uluru,22.8,29.5,9.2,NaN,NaN,NNW,54.0,2016,12,25,85.10,Not rainy,305.843861
142013,2016-12-26,Uluru,22.1,27.4,83.8,NaN,NaN,ENE,72.0,2016,12,26,81.32,Rainy,254.545670
142014,2016-12-27,Uluru,22.1,35.8,63.8,NaN,NaN,WNW,43.0,2016,12,27,96.44,Rainy,360.510799
142015,2016-12-28,Uluru,22.6,36.8,0.0,NaN,NaN,NW,50.0,2016,12,28,98.24,Not rainy,324.591052
142016,2016-12-29,Uluru,23.2,38.0,0.0,NaN,NaN,SSW,33.0,2016,12,29,100.40,Not rainy,342.467139
142017,2016-12-30,Uluru,19.7,37.0,0.0,NaN,NaN,E,37.0,2016,12,30,98.60,Not rainy,456.557417
142018,2016-12-31,Uluru,23.7,33.0,0.0,NaN,NaN,NE,46.0,2016,12,31,91.40,Not rainy,300.606688

In [ ]:
data_2016.pivot_table(index = "Location", columns = "Month", values = "Rainfall", aggfunc='mean')

Month,1,2,3,4,5,6,7,8,9,10,11,12
Location,,,,,,,,,,,,
Adelaide,1.703226,0.634483,1.735484,0.320000,2.838710,3.173333,3.612903,1.896774,4.373333,2.612903,1.106667,2.800000
Albany,2.380645,0.748276,1.144828,3.153333,3.158065,4.010000,3.954839,3.777419,3.426667,2.025806,0.753333,0.650000
Albury,2.206452,1.013793,0.961290,0.546667,3.477419,2.866667,3.767742,2.400000,4.740000,1.980645,1.653333,0.735484
AliceSprings,1.290323,0.910345,0.522581,0.000000,1.832258,0.933333,0.000000,0.658065,1.640000,0.109677,0.233333,4.352000
BadgerysCreek,5.012903,0.441379,1.019355,0.346667,0.380645,8.346667,1.438710,1.890323,1.826667,0.458065,0.337931,0.728571
Ballarat,1.358621,0.355556,1.180645,0.460000,2.303226,2.353333,3.012903,2.051613,5.940000,3.303226,1.133333,0.890323
Bendigo,1.117241,0.162963,1.077419,0.493333,2.677419,1.913333,2.961290,2.612903,5.113333,1.883871,1.253333,0.941935
Brisbane,0.972414,0.523077,3.787097,0.426667,0.890323,8.826667,0.909677,1.019355,1.726667,0.974194,0.933333,3.290323
Cairns,9.316129,4.689655,8.329032,4.593103,9.336842,2.220000,2.741935,1.348387,4.500000,2.427273,0.765217,4.033333
Canberra,3.432258,0.806897,0.916129,0.226667,1.535484,4.806667,2.290323,1.490323,4.973333,1.406452,1.893333,2.083871
Cobar,0.728571,0.062069,2.344828,1.313333,2.438710,3.586667,1.058065,1.948387,3.406667,0.658065,1.126316,0.993548
CoffsHarbour,3.129032,1.086207,2.345161,3.876667,0.112903,11.350000,0.732258,5.706452,1.163333,0.841935,3.546667,2.051613
Dartmoor,0.606897,1.420690,0.922581,1.133333,3.238710,5.053333,4.116129,2.780645,3.640000,2.341935,1.560000,1.670968
Darwin,5.477419,5.186207,3.735484,1.546667,2.012903,0.000000,0.000000,0.000000,2.146667,4.219355,6.940000,13.122581
GoldCoast,3.360000,2.336000,1.745455,3.764286,0.600000,10.042857,0.607407,2.407407,1.284615,1.264000,0.992308,1.825806
Hobart,1.296774,0.751724,0.548387,0.293333,3.096774,3.846667,2.554839,0.509677,3.140000,2.690323,2.173333,1.825806
Katherine,8.112903,3.889655,3.245161,0.626667,1.438710,0.000000,0.179310,0.000000,1.933333,0.141935,1.350000,3.469565
Launceston,4.961290,0.848276,1.596774,0.920000,4.312903,4.483333,4.545161,2.083871,2.706667,2.377419,1.840000,2.287097
Melbourne,NaN,NaN,NaN,NaN,1.838710,1.813333,2.070968,1.974194,2.906667,2.045161,1.046667,1.277419
MelbourneAirport,1.445161,0.151724,0.877419,1.213333,1.516129,2.213333,2.045161,0.987097,3.326667,2.496774,1.326667,2.496774
Mildura,2.200000,0.006897,0.012903,0.100000,1.400000,0.606667,0.619355,0.993548,3.120000,0.800000,1.706667,0.180645
Moree,3.270588,0.110345,0.347826,0.453333,1.122581,2.106667,0.470968,1.612903,4.620000,1.832258,0.773333,1.135484
MountGambier,0.425806,1.668966,0.916129,1.046667,3.438710,5.433333,4.948387,2.779310,3.921429,2.290323,1.653333,1.917241
MountGinini,4.690323,1.427586,1.767742,0.520000,3.432258,9.153333,6.354839,2.277419,7.110345,3.600000,1.926667,2.967742
Newcastle,13.851613,2.475000,2.280645,2.140000,0.458065,6.713333,1.787097,1.674194,1.866667,1.813793,1.693333,1.768000
Nhil,1.193548,0.496296,1.116129,0.220000,1.322581,1.446667,1.993548,1.083871,3.113333,1.903226,0.453333,1.032258
NorahHead,7.013793,0.600000,4.980645,1.813333,0.412903,6.506667,2.664516,2.432258,2.306667,1.941935,1.173333,2.238710
NorfolkIsland,4.419355,9.165517,8.841379,2.740000,3.880645,3.920000,2.161290,3.516129,2.440000,1.290323,7.084211,0.375000
Nuriootpa,0.967742,0.424138,1.470968,0.483333,2.862069,3.140000,2.437931,2.054839,6.036667,1.512903,0.783333,1.658065
PearceRAAF,0.696552,0.034483,3.283871,2.273333,2.909677,3.140000,3.845161,4.329032,1.664286,1.307143,0.246667,0.445161
Penrith,9.929032,0.072000,0.541935,0.406667,0.268966,6.980000,1.776000,1.574194,1.666667,0.400000,0.585714,2.248276
Perth,0.490323,0.020690,0.541935,2.273333,3.612903,3.646667,4.503226,3.974194,2.293333,1.206452,0.480000,0.329032
PerthAirport,0.754839,0.027586,0.690323,2.053333,3.419355,2.880000,4.174194,4.245161,2.060000,1.219355,0.186667,0.277419
Portland,0.944828,2.806897,0.961290,1.386667,4.658065,4.000000,5.425806,3.522581,5.471429,3.703226,2.246667,1.524138
Richmond,8.593548,0.525926,0.441379,0.286667,0.135484,6.306667,1.845161,1.987097,1.846667,0.438710,1.353333,2.529032
Sale,3.613793,0.213793,1.954839,0.866667,1.219355,2.433333,3.303226,0.845161,1.207143,2.259259,1.780000,0.761290
SalmonGums,1.331034,0.496552,1.670968,1.093333,1.148387,1.906667,1.051613,1.729032,0.900000,0.374194,0.113333,0.593103
Sydney,8.058065,0.889655,6.232258,5.166667,0.232258,10.166667,3.374194,4.883871,2.333333,1.012903,0.906667,2.096774
SydneyAirport,8.477419,1.393103,5.025806,2.700000,0.432258,9.313333,3.683871,4.238710,2.260000,1.103226,0.893333,1.883871
Townsville,2.470968,3.262069,18.000000,0.700000,0.012903,1.966667,1.716129,0.677419,0.242857,0.264516,0.366667,1.064286
Tuggeranong,3.234483,1.162963,1.875862,0.235714,1.200000,6.133333,2.077419,1.232258,5.033333,1.392593,1.780000,3.012903
Uluru,0.081481,0.491667,0.935484,0.006667,2.406452,2.681481,0.690323,0.935484,0.520000,0.064516,0.046667,6.929032
WaggaWagga,1.780645,0.558621,1.077419,0.360000,3.813793,2.820000,2.987097,1.896774,5.700000,2.064516,1.041667,0.600000
Walpole,3.584000,1.427586,1.151724,4.221429,4.870968,5.408333,6.379310,6.448276,5.092857,2.928571,0.938462,1.703226
Watsonia,1.207407,0.324138,0.890323,1.700000,1.722581,2.393333,2.051613,1.780645,2.792857,3.048276,2.033333,3.800000
Williamtown,13.625806,1.117241,1.474074,5.585185,0.361290,5.230000,1.696774,1.800000,1.660000,2.406452,1.561538,11.680000
Witchcliffe,0.296296,0.324138,0.551724,1.735714,6.238710,7.650000,7.806452,7.348387,4.364286,2.751724,0.570370,0.832258
Wollongong,5.735484,1.710345,6.587097,1.820000,0.316129,14.553333,3.483871,3.612903,1.580000,0.200000,0.986207,1.586667
Woomera,0.012903,0.524138,0.774194,0.033333,0.945161,1.890000,0.222581,0.890323,1.500000,0.335484,0.016667,0.505000

Find the Pandas pivot table documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html)

This information can be used to decide the stocks of tea in each of the stores. 

You can modify the pivot_table command to get a lot of work done quickly.

In [ ]:
data_2016.pivot_table(index = "Location", columns = "Month", values = "Sunshine", aggfunc='mean')

Month,1,2,3,4,5,6,7,8,9,10,11,12
Location,,,,,,,,,,,,
Albany,5.588000,7.825000,4.450000,3.473333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AliceSprings,9.427273,11.638462,9.558621,10.212500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brisbane,8.870000,9.781481,8.558065,7.853333,8.332258,5.400000,6.864516,8.577419,7.690000,9.909677,10.293103,8.806452
Cairns,8.576667,9.020690,7.116667,6.980952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dartmoor,8.873333,7.813793,5.293548,5.304545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Darwin,8.045161,8.065517,7.490323,9.320000,9.416129,10.266667,10.329032,10.383871,8.633333,9.145161,8.433333,5.922581
Hobart,6.900000,8.186207,6.335484,6.420000,4.287097,3.630000,4.993548,6.574194,6.043333,7.587097,7.413333,8.430000
Melbourne,NaN,NaN,NaN,8.400000,5.219355,3.850000,3.861290,5.738710,4.893333,6.941935,6.960000,8.374194
MelbourneAirport,6.912903,8.472414,5.835484,6.373333,5.219355,3.850000,3.861290,5.738710,4.893333,6.941935,6.960000,8.374194
Mildura,8.990000,11.496429,9.067742,7.892857,6.057143,4.950000,4.966667,7.377419,7.000000,9.270000,9.709524,10.245833
Moree,9.623077,11.200000,10.270000,9.272727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MountGambier,9.000000,7.813793,5.293548,5.304545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NorfolkIsland,7.643333,4.710714,6.546429,6.538462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nuriootpa,10.167742,10.537931,7.593548,7.306667,4.831579,4.810000,4.393103,6.722222,5.353571,8.970968,10.072414,10.060714
PearceRAAF,9.330000,11.641379,9.003226,6.413333,6.590323,5.686667,6.141935,6.193548,7.862069,9.762069,11.940000,12.045161
Perth,9.412903,11.641379,9.003226,6.413333,6.590323,5.686667,6.141935,6.193548,7.940000,9.725806,11.940000,12.045161
PerthAirport,9.412903,11.641379,9.003226,6.413333,6.590323,5.686667,6.141935,6.193548,7.940000,9.725806,11.940000,12.045161
Portland,8.900000,7.813793,5.293548,5.304545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sydney,6.600000,9.572414,7.412903,7.246667,7.451613,5.631034,6.663333,6.830000,7.466667,9.106452,9.500000,7.425806
SydneyAirport,6.600000,9.572414,7.412903,7.246667,7.451613,5.631034,6.663333,6.830000,7.466667,9.106452,9.500000,7.425806
Townsville,9.480645,9.210345,6.912903,8.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WaggaWagga,8.151613,11.500000,9.145161,8.957692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Watsonia,6.924138,8.472414,5.835484,6.373333,5.219355,3.850000,3.861290,5.738710,4.879310,7.010000,6.960000,8.100000
Williamtown,7.226667,10.913333,8.181250,6.723077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Woomera,10.387097,11.710345,7.609677,8.957692,7.644828,NaN,NaN,NaN,NaN,NaN,0.000000,NaN

##### Note

[Here](https://pandas.pydata.org/pandas-docs/stable/index.html) is the link to the official documentation of Pandas. Be sure to visit it inorder to explore to availability of functions in the library.